<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/static/cover.css"/>
    <title>{{.Title}}</title>
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand"><b>{{.Title}}</b></h3>
          <nav class="nav nav-masthead justify-content-center">
       
            {{if .IsAuthenticated}}
             <a class="nav-link" href="/product">Add</a>
             <a class="nav-link" href="/view">View All</a>
            <form action="/user/logout" method="POST">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

              <button class="btn btn-outline-success">Logout</button>
            </form>

            {{else}}
             <a class="nav-link" href="/user/login">Login</a>
            <a class="nav-link" href="/user/signup">SignUp</a>
            {{end}}
   
            
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading"><b>{{.HeaderText}}</b></h1>
        <p class="lead">
          {{.FileInfo}}
        </p>
        <p class="lead">
          <a href="/user/login" class="btn btn-lg btn-secondary">Insert Product</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>StackTrack 2025</p>
        </div>
      </footer>
    </div>
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  </body>
</html>
