<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <title>{{.Title}}</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/main"><b>{{.Title}}</b></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/main">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/product">Add</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/view"
                >View All <span class="sr-only">(current)</span></a
              >
            </li>
          </ul>
          <form class="d-flex" method="GET" action="/search">
            <input
              class="form-control mr-2"
              type="search"
              placeholder="Search products..."
              name="query"
              required
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </nav>
    </header>

    <main class="container py-4">
      <div class="card">
        <div class="card-header bg-color text-white">
          <h2 class="head">{{.HeaderText}}</h2>
        </div>
        <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped" action="/view" method="GET">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
                
              </tr>
            </thead>
            <tbody>
              {{range .Products}}
              <tr>
                <td class="text-break">{{.PName}}</td>
                <td>{{.PQuantity}}</td>
                <td>$ {{.PPrice}}</td>
                <td class="text-break2">{{.PDescription}}</td>
                <td class="{{if eq .StockStatus "Out of Stock"}}table-danger {{else if eq .StockStatus "Stock Low"}}table-warning
                {{else}}table-info{{end}}" >{{.StockStatus}}
                </td>
                <td>
                 <a class="btn btn-outline-primary" href="/product/edit?id={{.ID}}" >Edit</a>
                  <form method="POST" action="/product/delete?id={{.ID}}" style="display:inline;">
                    <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure you want to delete this product?');">Delete</button>
                  </form>
                </td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
        </div>
      </div>
    </main>
     <!-- Toast -->
    <div class="position-fixed top-0 right-0 p-3" style="position: absolute; top: 0; right: 0;">
      <div id="liveToast2" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
        <div class="toast-header bg-color text-white">
          <strong class="mr-auto">StockTrack</strong>
          <small>just now</small>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
        Product Updated Successfully!
        </div>
      </div>
    </div>  

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
      <!--Script for the Toast to work  -->
    {{if .Submitted}}
    <script>
        $(document).ready(function () {
        $("#liveToast2").toast("show");
        });
    </script>
    {{end}}
  </body>
</html>
